**Telephone Directory database**

In [8]:
import pymongo
from pymongo import MongoClient
Nikhi01 = pymongo.MongoClient("mongodb://nikhi03:1234@nikhi01-shard-00-00.tsb75.mongodb.net:27017,nikhi01-shard-00-01.tsb75.mongodb.net:27017,nikhi01-shard-00-02.tsb75.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-pvq7dp-shard-0&authSource=admin&retryWrites=true&w=majority")
db1 = Nikhi01['Tel_dir'] #creating a database
col1=db1['Numbers'] #creating a collection

**Inserting datas #creating directory**

In [9]:
a={"Name":"Abishek","Phonenumber":9876543210,"Location":"Porur"}
b={"Name":"Kiran","Phonenumber":9087377665,"Location":"Maduravoyal"}
c={"Name":"Rayman","Phonenumber":8056086869,"Location":"Allapakkam"}
d={"Name":"Nikhilesh","Phonenumber":9003062060,"Location":"Valasaravakkam"}

col1.insert_one(a)
col1.insert_one(b)
col1.insert_one(c)
col1.insert_one(d)

In [10]:
db=Nikhi01.test

In [11]:
mydoc=col1.find({'Name':'Abishek'})   #query to find records 
for x in mydoc:
  print(x)

{'_id': ObjectId('621f4c604f785220afdfd1fa'), 'Name': 'Abishek', 'Phonenumber': 9876543210, 'Location': 'Porur'}

In [12]:
myquery={'Name':'Rayman'}     #modifying recordds

myquery2={'$set': {'Name':"Rayman Raboni"}}

col1.update_one(myquery,myquery2)

for x in col1.find():
  print(x)

{'_id': ObjectId('621f4c604f785220afdfd1fa'), 'Name': 'Abishek', 'Phonenumber': 9876543210, 'Location': 'Porur'}
{'_id': ObjectId('621f4c624f785220afdfd1fb'), 'Name': 'Kiran', 'Phonenumber': 9087377665, 'Location': 'Maduravoyal'}
{'_id': ObjectId('621f4c624f785220afdfd1fc'), 'Name': 'Rayman Raboni', 'Phonenumber': 8056086869, 'Location': 'Allapakkam'}
{'_id': ObjectId('621f4c624f785220afdfd1fd'), 'Name': 'Nikhilesh', 'Phonenumber': 9003062060, 'Location': 'Valasaravakkam'}

In [13]:
myquery={'Name':'Nikhilesh'} #deleting a record

col1.delete_one(myquery)

for x in col1.find():
  print(x)

{'_id': ObjectId('621f4c604f785220afdfd1fa'), 'Name': 'Abishek', 'Phonenumber': 9876543210, 'Location': 'Porur'}
{'_id': ObjectId('621f4c624f785220afdfd1fb'), 'Name': 'Kiran', 'Phonenumber': 9087377665, 'Location': 'Maduravoyal'}
{'_id': ObjectId('621f4c624f785220afdfd1fc'), 'Name': 'Rayman Raboni', 'Phonenumber': 8056086869, 'Location': 'Allapakkam'}